footer {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #6f9196;
    padding: 50px;
  }

  footer img {
    width: 300px;
    text-align: center;
    padding: 20px;
  }

  footer a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
  }

  footer h1 {
    color: #fff;
  }

  footer p {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
    color: #fff;
  }

 /* now i am styling the section 4  */

  .section-04 {
    max-width: 1200px;
    margin: auto;
    column-gap: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 30px 0px;
  }

  .section-04 .sub-section {
    text-align: center;
    margin-bottom: 0px;
    width: 10 0%;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
  }

  .section-04 .sub-section img {
    text-align: center;
    width: 100%;
    height: 280px;
    margin-top: -50px;
  }

  .section-04 .sub-section h1 {
    margin: 0px;
    padding: 5px 0px;
    font-size: 30px;
  }

  .section-04 .sub-section p {
    margin-top: 0px;
    font-size: 15px;
    color: black;
  }

  .section-04 .text-section {
    position: relative;
    background-color: #fff;
    margin-top: 0px;
    top: -50px;
    text-align: left;
    border: 1px solid black;
    border-radius: 0px 0px 25px 25px;
  }

 
  .section-03 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #6f9196;
  }

  .section-03 .sub-section {
    margin: 10px 50px;
    text-align: center;
  }

  .section-03 .sub-section img {
    width: 150px;
  }

  .section-03 .sub-section h1 {
    color: #fff;
  }

  .section-03 .sub-section p {
    color: black;
  }

  .sub-section-03-heading {
    margin-top: 60px;
  }

  

  /* now i am styling the nav section */

  nav {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  nav img {
    width: 50px;
  }

  nav a {
    text-decoration: none;
    padding-right: 50px;
    color: #000;
  }

  nav a:hover {
    color: red;
    font-weight: bold;
  }

  nav button {
    margin-left: 60%;
    padding: 10px 0px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(29, 198, 60);
    color: black;
    font-weight: bold;
  }

  /* now and styling the main container such as hero container */
  .hero-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 10px;
    gap: 20px;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .text-section {
    padding: 0px 50px;
  }

  .image-section {
    background-color: #6f9196;
    height: 100%;
    max-height: 90vh;
  }

  .text-section h1 {
    font-size: 40px;
  }

  .text-section p {
    color: #4c665d;
  }

  .text-section button {
    padding: 10px 50px;
    border: 0;
    background-color: #000;
    color: #fff;
    margin-top: 30px;
    font-size: large;
  }

  .image-section img {
    width: 70%;
    height: 100%;
  }